* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: black;
}

.restart-button {
    background: white;
    border-radius: 8px;
    color: orangered;
    cursor: pointer;
    font-size: 32px;
    letter-spacing: .5px;
    line-height: 30px;
    max-width: 225px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: .6em;
} 

.save-score {
    background: white;
    border-radius: 8px;
    color: orangered;
    cursor: pointer;
    font-size: 32px;
    letter-spacing: .5px;
    line-height: 30px;
    max-width: 225px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: .6em; 
}


.card {
  position: absolute;
  right: 55vh;
  top: 45vh;
}

.large-font {
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
}

.timer {
    
    height: 150px;
    padding: 10px;
    background: black;
    color: orangered;
    text-align: center;
}

h3 {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    
}

button {
   background: white;
   border-radius: 8px;
   color: orangered;
   cursor: pointer;
   font-size: 32px;
   letter-spacing: .5px;
   line-height: 30px;
   max-width: 225px;
   padding: 10px 25px;
   text-align: center;
   transition-duration: 0.15s;
   transition-property: background-color;
   transition-timing-function: linear;
   margin-top: .6em;
}

@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    
    section {
      background-color: black;
      margin: 20px auto;
      width: 92vw;
    }
  }
  


@media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .restart-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
}